h1 {
  color: #4e9ae9;
}

.jumbotron {
  text-align: center;
}

#answer-box.jumbotron {
  padding: 3px;
}

#answer-box.jumbotron p {
  font-size: 18px;
}

.navbar.navbar-inverse {
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	font-size: 26px;
}
